/* Apply consistent styles to h1, h2, and h5 */
h2, h5 {
    font-family: 'Handlee', cursive; /* Use the Handlee font */
    color: #2c3e50; /* Set a dark blue color */
    margin-bottom: 20px; /* Add spacing below the headings */
    font-weight: bold; /* Make the text bold */
    text-align: center;
    
}
/* Navbar */
.navbar-custom {
    color: #3B2F2F;
}

.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

.navbar {
    position: sticky;
    top: 0; /* Make the navbar sticky */
    z-index: 1000; /* Ensure it stays above other content */
}

/* Hero Section Heading */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png') no-repeat center center; /* Background image with gradient overlay */
    background-size: cover;
    background-attachment: fixed; /* Fix the background image the background, it remains fixed as the user scrolls.*/
    color: #FFEBD4;
    padding: 8rem 0;
}

.hero-section h1 {
    font-family: 'Handlee', cursive;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes full height */
}

.btn {
    color: #3B2F2F;
}
/* Main section */
main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Services section */
.card {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Right bottom shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effect */
}

.card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}
  /* Style the footer */
  .footer {
    margin-top: auto;
    background-color: #6F4E37;
    color: #FFEBD4;
}

.footer i.bi {
    color: #FFEBD4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; /* positions the element outside the visible area */
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* positions the element putside teh visible area */
    white-space: nowrap;
    border: 0;
}
